@import "/home/reo/.cache/wal/colors-waybar.css";
window#osd {
  border-radius: 999px;
  border: none;
  background: rgba(0, 0, 0, 0.5); /* replace with your theme_bg_color with alpha */

}

window#osd #container {
  margin: 16px;
}

window#osd image,
window#osd label {
  color: @color6; /* replace with your theme_fg_color */
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: rgba(0, 0, 0, 0.3); /* replace with theme_fg_color with alpha 0.5 */
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @color6; /* replace with theme_fg_color */
}

